<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="link_5">
    <link name="link_5">
      <inertial>
        <origin xyz="0.0015066 -1.3102E-05 -0.012585" rpy="0 0 0" />
        <mass value="0.11562" />
        <inertia
          ixx="5.5035E-05" ixy="-1.019E-08" ixz="-2.6243E-06"
          iyy="8.2921E-05" iyz="1.4437E-08" izz="5.2518E-05" />
      </inertial>
      
      <visual>
        <geometry>
          <mesh filename="package://ar3_description/meshes/link_5.STL" />
        </geometry>
        <material name="aluminum_light" />
      </visual>

      <collision>
        <origin xyz="-0.001053 -0.000007 -0.008000" rpy="0 0 0"/>
        <geometry>
          <!-- <box size="0.093081 0.045969 0.087800"/> -->
          <mesh filename="package://ar3_description/meshes/link_5.STL" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>

</robot>