<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="link_1">
    <link name="link_1">
      <inertial>
        <origin xyz="-0.022706 0.04294 -0.12205" rpy="0 0 0" />
        <mass value="0.88065" />
        <inertia
          ixx="0.0034" ixy="0.00042296" ixz="-0.00089231"
          iyy="0.0041778" iyz="0.0010848" izz="0.0027077" />
      </inertial>
      
      <visual>
        <geometry>
          <mesh filename="package://ar3_description/meshes/link_1.STL" />
        </geometry>
        <material name="aluminum" />
      </visual>

      <collision>
        <origin xyz="-0.036996 0.026945 -0.102039" rpy="0 0 0"/>
        <geometry>
          <!-- <box size="0.170467 0.150365 0.204078"/> -->
          <mesh filename="package://ar3_description/meshes/link_1.STL" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>

</robot>