<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="link_3">
    <link name="link_3">
      <inertial>
        <origin xyz="-0.00029765 -0.023661 -0.0019125" rpy="0 0 0" />
        <mass value="0.1787" />
        <inertia
          ixx="0.0001685" ixy="-2.7713E-05" ixz="5.6885E-06"
          iyy="0.00012865" iyz="2.9256E-05" izz="0.00020744" />
      </inertial>
      
      <visual>
        <geometry>
          <mesh filename="package://ar3_description/meshes/link_3.STL" />
        </geometry>
        <material name="aluminum_light" />
      </visual>

      <collision>
        <origin xyz="-0.000141 -0.019352 -0.010250" rpy="0 0 0"/>
        <geometry>
          <!-- <box size="0.101240 0.098696 0.071400"/> -->
          <mesh filename="package://ar3_description/meshes/link_3.STL" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>

</robot>