<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="astra_camera_mount_joint">
    <xacro:fixed_joint
      name="astra_camera_mount_joint"
      parent="link_4"
      child="astra_camera_mount"
      origin_xyz="0.029395 0.034330 -0.160350"
      origin_rpy="-2.52964051 -1.5633234  1.28585551" />
  </xacro:macro>

</robot>
