<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="camera_rgb_optical_joint">
    <xacro:fixed_joint
      name="camera_rgb_optical_joint"
      parent="astra_rgb_optical_link"
      child="camera_rgb_optical_frame"
      origin_xyz="0 0 0"
      origin_rpy="-1.5708 0 -1.5708" />
  </xacro:macro>

</robot>