<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="joint_4">
    <xacro:ar3_revolute_joint 
      name="joint_4"
      parent="link_3"
      child="link_4" 
      origin_xyz="0 0 0.00675"
      origin_rpy="1.5708 -1.2554 -1.5708"
      axis_xyz="0 0 -1" />
  </xacro:macro>

</robot>