<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="joint_3">
    <xacro:ar3_revolute_joint 
      name="joint_3"
      parent="link_2"
      child="link_3" 
      origin_xyz="0.1525 -0.26414 0"
      origin_rpy="0 0 -1.49538"
      axis_xyz="0 0 -1" />
  </xacro:macro>

</robot>