<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ar3">

  <!-- 声明可从命令行覆盖的参数 -->
  <xacro:arg name="serial_port" default="/dev/ttyACM0" />
  <xacro:arg name="baudrate" default="115200" />

  <!-- Include common macros -->
  <xacro:include filename="common.xacro" />
  <xacro:include filename="materials.xacro" />
  <xacro:include filename="joints/limits.xacro" />

  <!-- Include links -->
  <xacro:include filename="links/base_link.xacro" />
  <xacro:include filename="links/link_1.xacro" />
  <xacro:include filename="links/link_2.xacro" />
  <xacro:include filename="links/link_3.xacro" />
  <xacro:include filename="links/link_4.xacro" />
  <xacro:include filename="links/link_5.xacro" />
  <xacro:include filename="links/link_6.xacro" />
  
  <!-- Include joints -->
  <xacro:include filename="joints/joint_1.xacro" />
  <xacro:include filename="joints/joint_2.xacro" />
  <xacro:include filename="joints/joint_3.xacro" />
  <xacro:include filename="joints/joint_4.xacro" />
  <xacro:include filename="joints/joint_5.xacro" />
  <xacro:include filename="joints/joint_6.xacro" />
  
  <!-- Include ros2_control configuration -->
  <!-- <xacro:include filename="ar3.ros2_control.xacro" /> -->
  
  <!-- Base Link -->
  <xacro:base_link />

  <!-- Joint 1: base_link to link_1 -->
  <xacro:joint_1 />

  <!-- Link 1 -->
  <xacro:link_1 />

  <!-- Joint 2: link_1 to link_2 -->
  <xacro:joint_2 />

  <!-- Link 2 -->
  <xacro:link_2 />

  <!-- Joint 3: link_2 to link_3 -->
  <xacro:joint_3 />

  <!-- Link 3 -->
  <xacro:link_3 />

  <!-- Joint 4: link_3 to link_4 -->
  <xacro:joint_4 />

  <!-- Link 4 -->
  <xacro:link_4 />

  <!-- Joint 5: link_4 to link_5 -->
  <xacro:joint_5 />

  <!-- Link 5 -->
  <xacro:link_5 />

  <!-- Joint 6: link_5 to link_6 -->
  <xacro:joint_6 />

  <!-- Link 6 -->
  <xacro:link_6 />

  <!-- ros2_control configuration -->
  <!-- <xacro:ar3_ros2_control 
    serial_port="$(arg serial_port)" 
    baudrate="$(arg baudrate)" /> -->

</robot>