<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ar3">

  <!-- 公共宏 -->
  <xacro:include filename="common.xacro" />
  <xacro:include filename="materials.xacro" />
  <xacro:include filename="joints/limits.xacro" />

  <!-- 机械臂本体 links -->
  <xacro:include filename="links/base_link.xacro" />
  <xacro:include filename="links/link_1.xacro" />
  <xacro:include filename="links/link_2.xacro" />
  <xacro:include filename="links/link_3.xacro" />
  <xacro:include filename="links/link_4.xacro" />
  <xacro:include filename="links/link_5.xacro" />
  <xacro:include filename="links/link_6.xacro" />

  <!-- 相机 links（分散引入） -->
  <xacro:include filename="links/astra_camera_mount.xacro" />
  <xacro:include filename="links/astra_camera_link.xacro" />
  <xacro:include filename="links/astra_ir_optical_link.xacro" />
  <xacro:include filename="links/astra_rgb_optical_link.xacro" />
  <xacro:include filename="links/camera_rgb_optical_frame.xacro" />
  <!-- 机械臂本体 joints -->
  <xacro:include filename="joints/joint_1.xacro" />
  <xacro:include filename="joints/joint_2.xacro" />
  <xacro:include filename="joints/joint_3.xacro" />
  <xacro:include filename="joints/joint_4.xacro" />
  <xacro:include filename="joints/joint_5.xacro" />
  <xacro:include filename="joints/joint_6.xacro" />

  <!-- 相机 joints（分散引入） -->
  <xacro:include filename="joints/astra_camera_mount_joint.xacro" /> 
  <xacro:include filename="joints/astra_camera_base_joint.xacro" />
  <xacro:include filename="joints/astra_ir_joint.xacro" />
  <xacro:include filename="joints/astra_rgb_joint.xacro" />
  <xacro:include filename="joints/camera_rgb_optical_joint.xacro" />

  <!-- ====================== 机械臂本体 ====================== -->
  <xacro:base_link />
  <xacro:joint_1 />
  <xacro:link_1 />
  <xacro:joint_2 />
  <xacro:link_2 />
  <xacro:joint_3 />
  <xacro:link_3 />
  <xacro:joint_4 />
  <xacro:link_4 />
  <xacro:joint_5 />
  <xacro:link_5 />
  <xacro:joint_6 />
  <xacro:link_6 />
  <!-- ====================== 相机模型（分散调用） ====================== -->
  <xacro:astra_camera_link />
  <xacro:astra_camera_mount />
  <xacro:astra_ir_optical_link />
  <xacro:astra_rgb_optical_link />
  <xacro:camera_rgb_optical_frame /> 

  <xacro:astra_camera_mount_joint /> 
  <xacro:astra_camera_base_joint />
  <xacro:astra_ir_joint />
  <xacro:astra_rgb_joint />
  <xacro:camera_rgb_optical_joint />

</robot>
